.applied
.cleancount
.depend
.lastclean
.tags-depend
.tags-sources
.version
TAGS
aclocal.m4
autom4te.cache
config.cache
config.log
config.status
defaults.h
makeopts
makeopts.embed_rules
menuselect-tree
menuselect.makedeps
menuselect.makeopts
tags
