.applied
.cleancount
.depend
.lastclean
.tags-depend
.tags-sources
.version
TAGS
aclocal.m4
agi/eagi-sphinx-test
agi/eagi-test
agi/strcompat.c
autom4te.cache
build_tools/menuselect-deps
config.cache
config.log
config.status
defaults.h
.lastclean
main/asterisk
makeopts
makeopts.embed_rules
menuselect.makeopts
menuselect-tree
tags
