*.o
*.d
*.i
*.s
*.exports
aelbison.c
aelparse
aelparse.c
astdb2sqlite3
astdb2bdb
ast_expr2.c
ast_expr2f.c
astman
astobj2.c
check_expr
check_expr2
conf2ael
hashtab.c
hashtest
hashtest2
lock.c
md5.c
muted
pbx_ael.c
pval.c
poll.c
sha1.c
smsq
stereorize
strcompat.c
streamplayer
strings.c
threadstorage.c
utils.c
astcanary
refcounter
*.gcno
*.gcda
